.home{
    background-color: #F0FFF0;
}
.row{
    display:flex;
    align-items:center;
}
.home__item{
    width:50%;
    padding: 30px;
    padding-left: 250px;
    
}
.home__image{
    
    height: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 60px;
    padding-right: 50px;
}
.heading{
    color: red;
    font-weight:500;
    font-size: 30px;
}
.home__item>h1{
    font-size:50px;
    font-weight: 700;
    color:#43464b;
}
span{
    color: #06A10B;
}
p{
    font-size:25px;
}
button{
    background-color:#06A10B;
    height: 40px;
    color: white;
    border-radius:30px;
}
button:hover{
    border: 1px solid white;
}
@media only screen and (max-width:800px){
    .row{
        display:flex;
        flex-direction:column;

        
    }
    .home__item{
        padding-left: 15px;
        width: 100%;
        
    }
    .home__image{
        width: 100%;
    }
}